<footer>
  <article class="newsletter">
    <div>
      <h4>Subscribe Our Newsletter</h4>
      <p>Build stronger Customer Relationships with <span>Consultalk</span></p>
    </div>
    <div>
      <input type="email" placeholder="Your email address" required />
      <button>Subscribe</button>
    </div>
  </article>
  <article class="footer">
    <div>
      <div>
        <h5>AskEksperts</h5>
      </div>
      <div>
        <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
      </div>
    </div>
  </article>
</footer>

<style>
  @layer components {
    html {
      --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
    }
    footer {
      display: grid;
      grid-template-columns: var(--layout-grid);
    }
    .newsletter {
      grid-column: content;
      background-color: var(--color-primary3);
      color: var(--color-secondary2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5rem;
      border-radius: 20px;
      overflow: clip;
      position: relative;
      isolation: isolate;
      margin: 4rem 0;

      @media (max-width: 600px) {
        flex-direction: column;
        gap: var(--space-m);
        padding: 2rem;
        align-items: stretch;
      }

      &::before {
        --square-count: 12;
        --square-size: 1rem;
        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));
        z-index: -1;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: 0 0;
        inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
        aspect-ratio: 0.7;
        background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
          var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
        /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
        rotate: -45deg;
        z-index: 1000;
      }

      &::after {
        content: "";
        position: absolute;
        background: var(--color-primary2);
        width: 150px;
        height: 200px;
        border-radius: 20px;
        z-index: 2;
        right: -40px;
        bottom: -120px;
        transform: rotate(45deg);
        z-index: 2000;
      }

      input {
        background: var(--color-secondary2);
        padding: 1rem 4rem 1rem 1rem;
        border-radius: 40px;
        color: var(--color-primary3);
      }

      button {
        padding: 1rem 4rem;
        border-radius: 40px;
        background: var(--color-primary1);
        color: var(--color-primary3);
      }

      h4 {
        color: var(--color-secondary2);
      }
    }

    @media (max-width: 600px) {
      .newsletter::before {
        --square-size: 0.5rem;
      }

      .newsletter > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
      }
    }
    .footer {
      grid-row: 2/3;
      grid-column: full;
      background: var(--color-primary3);
      color: var(--color-secondary2);
      display: flex;
      justify-content: center;
      grid-template-columns: subgrid;
      padding: 2.875rem 0rem;

      h5 {
        color: var(--color-secondary2);
      }

      div {
        grid-column: content;
        text-align: center;
        padding: 0.5rem 0;
      }

      div > div:has(h5) {
        border-bottom: 1px solid;
      }
    }
  }
</style>
