---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { title = "opgave" } = Astro.props;
---

<html lang="en">
  <head>
    <!-- europæisk sprog -->
    <meta charset="utf-8" />

    <!-- Det eks hvis man bruger safari - så browser ser ens ud-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Fortæller at det er et pesponsivt site -->
    <meta name="viewport" content="width=device-width" />

    <!-- SEO metadata -->
    <meta name="description" content="Implementer Figma Design 3 Semester" />
    <meta name="author" content="Ester Catrine Piazza-Koldbye" />
    <meta name="copyright" content="Ester Catrine Piazza-Koldbye" />

    <!-- Den kommer ikke frem hos søgemaskiner -->
    <meta name="robots" content="noindex, nofollow" />

    <!-- fa-icon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Lato font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />

    <!-- Cabin font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet" />

    <!-- Sætter generator meta tag til at angive hvilken værktøj der blev brugt til at generere siden -->
    <meta name="generator" content={Astro.generator} />

    <!-- titel på siden (sidetitel) -->
    <title>{title}</title>
  </head>
  <body id="top">
    <Navigation />
    <main>
      <slot />

      <!-- <Newsletter /> -->
    </main>

    <Footer />

    <script></script>
  </body>
</html>
